extends ../_partials/layout.pug

block vars
  - bodyClass = 'index'

block main

  main

    .main-container(data-component="map-detail-view")

      +filter()

      .main-content(data-component="list-view-container")

        article.card.card-detail.is-hidden(data-component="card-detail")

          .layer-bar
            .meta.meta-category
              span.text-icon #
              span.text-content Místa fyzicky související s Fučíkem

            .actions
              a(href="#" data-component="close").item Zavřít

          .card-content-container

            .subheader-bar
              .submetas
                .meta.meta-address Bylanská 308/39 Praha

              .actions
                a(href="#").item.item-bookmark
                  <svg xmlns="http://www.w3.org/2000/svg" width="16.23" height="24.958" viewBox="0 0 16 26">
                    <g id="add_to_bookmarks_with_plus_" data-name="add to bookmarks (with plus)" transform="translate(-0.097 0.182)">
                      <g id="Group_1006" data-name="Group 1006" transform="translate(4.408 4.258)">
                        <line id="Line_100" data-name="Line 100" x2="7" transform="translate(0 3.5)" fill="none" stroke="#000" stroke-width="1"/>
                        <line id="Line_101" data-name="Line 101" y2="7" transform="translate(3.5)" fill="none" stroke="#000" stroke-width="1"/>
                      </g>
                      <g id="Path_393" data-name="Path 393" transform="translate(-132.234 -89.491)" fill="none">
                        <path d="M140.446,106.431l.217.21,7.9,7.626V89.309h-16.23v24.958l7.9-7.626Z" stroke="#000"/>
                        <path d="M 147.560546875 111.9111633300781 L 147.560546875 90.30860900878906 L 133.3309478759766 90.30860900878906 L 133.3309478759766 111.9111557006836 L 139.5337524414062 105.9218521118164 L 139.7511901855469 105.7119293212891 L 140.4458618164062 105.0412521362305 L 141.1404266357422 105.7120208740234 L 141.3577423095703 105.9218902587891 L 147.560546875 111.9111633300781 M 148.560546875 114.2668304443359 L 140.6631317138672 106.6412734985352 L 140.4457550048828 106.4313507080078 L 140.2283325195312 106.6412734985352 L 132.3309478759766 114.2668304443359 L 132.3309478759766 89.30860900878906 L 148.560546875 89.30860900878906 L 148.560546875 114.2668304443359 Z" stroke="none"/>
                      </g>
                    </g>
                  </svg>

                a(href="#").item.item-link
                  <svg xmlns="http://www.w3.org/2000/svg" width="14.941" height="23.98" viewBox="0 0 14.941 23.98">
                    <g id="icon_link" data-name="icon link" transform="translate(0 0)">
                      <path id="Path_340" data-name="Path 340" d="M1229.615,200.784v2.142a3.82,3.82,0,0,1,3.683,3.813v4.843a3.815,3.815,0,0,1-7.63,0v-4.843a3.818,3.818,0,0,1,.122-.954c-.01-.052-.019-.1-.029-.156s-.02-.1-.028-.154c-.013-.075-.022-.15-.032-.225-.007-.049-.014-.1-.019-.147-.009-.083-.015-.166-.022-.249,0-.041-.007-.083-.01-.124q-.01-.187-.011-.373v-2.168a5.918,5.918,0,0,0-2.112,4.55v4.843a5.956,5.956,0,1,0,11.912,0v-4.843a5.969,5.969,0,0,0-.153-1.337h0A5.922,5.922,0,0,0,1229.615,200.784Z" transform="translate(-1223.527 -193.558)"/>
                      <path id="Path_341" data-name="Path 341" d="M1249.163,170.282V168.14a3.819,3.819,0,0,1-3.683-3.813v-4.843a3.815,3.815,0,1,1,7.63,0v4.843a3.82,3.82,0,0,1-.122.954c.011.052.019.1.029.156s.02.1.028.153c.013.077.023.153.033.23.006.048.013.1.019.143.009.085.016.169.022.254,0,.04.007.08.01.12q.01.187.01.373v2.168a5.917,5.917,0,0,0,2.112-4.55v-4.843a5.956,5.956,0,1,0-11.912,0v4.843a5.959,5.959,0,0,0,5.824,5.955Z" transform="translate(-1240.309 -153.528)"/>
                    </g>
                  </svg>

            .title-bar
              .card-title Greagkso Pomník

            .card-content-in

              .card-content
                .card-content--description
                  p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem

                .card-content--meta
                  .item-meta
                    .item-meta--heading Adresa
                    .item-meta--content Kompletní adresa objektu,ompletní adresa objektu, čí číslo, město, stát?
                  .item-meta
                    .item-meta--heading Adresa
                    .item-meta--content Kompletní adresa objektu, číslo, město, stát?
                  .item-meta
                    .item-meta--heading Adresa
                    .item-meta--content Kompletní adresa objektu, číslo, město, stát?

              .gallery.gallery-card-detail
                .gallery-nav
                  .prev
                  .next
                .gallery-image-container
                  .gallery-image
                    img(src="assets/images/dummy/object-dummy-image.jpg")
                  .gallery-description Zdroj: Sed ut perspiciatis unde omnis


            .related-maps

              .title Objevuje se na těchto mapách

              .list-maps

                .item-map-thumb

                  img.image-bg(src="assets/images/dummy/map-dummy-image-02.jpg" alt="")
                  .item-map-thumb--title Julius Fučík - místa paměti Praha 2

                .item-map-thumb

                  img.image-bg(src="assets/images/dummy/map-dummy-image-02.jpg" alt="")
                  .item-map-thumb--title Julius Fučík - další mapa o Fučíkovi

        .main-content-top-bar
          a.icon-container.icon-back(href="#")
            <svg xmlns="http://www.w3.org/2000/svg" width="19.245" height="28" viewBox="0 0 19.245 28"><defs><style>.a{fill:#1a1818;}</style></defs><g transform="translate(-634.499 -538.828)"><path class="a" d="M645.238,566.828l-10.739-14,10.739-14"/><rect class="a" width="10.158" height="10.158" transform="translate(643.586 547.749)"/></g></svg>
            span.icon-text Zpět


        div(data-component="list-view")

          h1.title #{name}

          .cards-container

            each objekt in features

              - const dataJson = JSON.stringify(objekt);

              article.card(data-component="card" data-metadata=`${dataJson}`)

                .layer-bar
                  .meta.meta-category #{objekt.properties.layer}

                .card-content-container
                  .gallery
                    .gallery-nav
                      .prev
                      .next
                    .gallery-image
                      img(src="assets/images/dummy/object-dummy-image.jpg")

                  .card-content
                    .title-bar
                      .card-title #{objekt.properties.Name}
                      .icons
                        <svg class="icon icon-action" xmlns="http://www.w3.org/2000/svg" width="12.871" height="19.793" viewBox="0 0 12.871 19.793">
                          <g transform="translate(-132.331 -89.309)" fill="none">
                            <path d="M138.766,102.888l.172.166L145.2,109.1V89.309H132.331V109.1l6.263-6.047Z" stroke="black"/>
                          </g>
                        </svg>
                    .footer-bar
                      .meta.meta-address GPS: #{objekt.properties.y}, #{objekt.properties.x}
                      .icons
                        img(src="assets/images/icons/icon-document.svg")


      .map(id="mapbox" data-component="mapbox")

      .view-switch(data-component="view-switch")
        .heading.is-sr-only Zobrazení mapy
        nav.view-switch-nav
          a(href="#" rel="default").item.active
            <svg id="view-switch-icon-objects-map" xmlns="http://www.w3.org/2000/svg" width="17.056" height="26.332" viewBox="0 0 17.056 26.332">
              <g id="Group_900" data-name="Group 900" transform="translate(8.815)">
                <path id="Path_250" data-name="Path 250" d="M1145.116,324.53h-.011v.389h.012Z" transform="translate(-1145.105 -322.169)" fill="#a0a0a0"/>
                <path id="Path_251" data-name="Path 251" d="M1145.1,398.416v.389h.051v-.389Z" transform="translate(-1145.105 -384.554)" fill="#a0a0a0"/>
                <path id="Path_252" data-name="Path 252" d="M1145.118,327.419v-.389h-.012v.389Z" transform="translate(-1145.105 -324.28)" fill="#a0a0a0"/>
                <path id="Path_253" data-name="Path 253" d="M1145.153,395.915h-.048v.389h.049Z" transform="translate(-1145.105 -382.443)" fill="#a0a0a0"/>
                <path id="Path_254" data-name="Path 254" d="M1145.122,309.363l.008,2.361a5.945,5.945,0,0,1,.04,11.889l.041,12.082,6.984-13.4a9.542,9.542,0,0,0,1.166-4.573A8.315,8.315,0,0,0,1145.122,309.363Z" transform="translate(-1145.119 -309.363)" fill="#a0a0a0"/>
                <path id="Path_255" data-name="Path 255" d="M1150.344,334.7a5.173,5.173,0,0,0-5.154-5.167l.035,10.333A5.172,5.172,0,0,0,1150.344,334.7Z" transform="translate(-1145.177 -326.393)" fill="#a0a0a0"/>
              </g>
              <g id="Group_901" data-name="Group 901" transform="translate(0 0)">
                <rect id="Rectangle_357" data-name="Rectangle 357" width="3.706" height="4.68" transform="translate(0 15.96)" fill="#a0a0a0"/>
                <rect id="Rectangle_358" data-name="Rectangle 358" width="3.706" height="4.68" transform="translate(0 21.28)" fill="#a0a0a0"/>
                <rect id="Rectangle_359" data-name="Rectangle 359" width="3.706" height="4.68" transform="translate(0 10.64)" fill="#a0a0a0"/>
                <rect id="Rectangle_360" data-name="Rectangle 360" width="3.706" height="4.68" transform="translate(0 5.32)" fill="#a0a0a0"/>
                <rect id="Rectangle_361" data-name="Rectangle 361" width="3.706" height="4.68" transform="translate(4.353 21.28)" fill="#a0a0a0"/>
                <rect id="Rectangle_362" data-name="Rectangle 362" width="3.706" height="4.68" transform="translate(4.353 15.96)" fill="#a0a0a0"/>
                <rect id="Rectangle_363" data-name="Rectangle 363" width="3.706" height="4.68" transform="translate(4.353 10.64)" fill="#a0a0a0"/>
                <rect id="Rectangle_364" data-name="Rectangle 364" width="3.706" height="4.68" transform="translate(4.353 5.32)" fill="#a0a0a0"/>
                <rect id="Rectangle_365" data-name="Rectangle 365" width="3.706" height="4.68" transform="translate(4.353 0)" fill="#a0a0a0"/>
                <rect id="Rectangle_366" data-name="Rectangle 366" width="3.706" height="4.68" transform="translate(0 0)" fill="#a0a0a0"/>
              </g>
            </svg>


          a(href="#" rel="objects").item
            <svg id="icon-view-switch-objects" xmlns="http://www.w3.org/2000/svg" width="17.129" height="26.524" viewBox="0 0 17.129 26.524">
              <rect id="Rectangle_367" data-name="Rectangle 367" width="3.787" height="4.781" transform="translate(0 16.307)" fill="#9f9f9f"/>
              <rect id="Rectangle_368" data-name="Rectangle 368" width="3.787" height="4.781" transform="translate(0 21.742)" fill="#9f9f9f"/>
              <rect id="Rectangle_369" data-name="Rectangle 369" width="3.787" height="4.781" transform="translate(0 10.871)" fill="#9f9f9f"/>
              <rect id="Rectangle_370" data-name="Rectangle 370" width="3.787" height="4.781" transform="translate(13.342 10.871)" fill="#9f9f9f"/>
              <rect id="Rectangle_371" data-name="Rectangle 371" width="3.787" height="4.781" transform="translate(0 5.435)" fill="#9f9f9f"/>
              <rect id="Rectangle_372" data-name="Rectangle 372" width="3.787" height="4.781" transform="translate(13.342 16.307)" fill="#9f9f9f"/>
              <rect id="Rectangle_373" data-name="Rectangle 373" width="3.787" height="4.781" transform="translate(4.447 21.742)" fill="#9f9f9f"/>
              <rect id="Rectangle_374" data-name="Rectangle 374" width="3.787" height="4.781" transform="translate(13.342 5.435)" fill="#9f9f9f"/>
              <rect id="Rectangle_375" data-name="Rectangle 375" width="3.787" height="4.781" transform="translate(8.895 21.742)" fill="#9f9f9f"/>
              <rect id="Rectangle_376" data-name="Rectangle 376" width="3.787" height="4.781" transform="translate(13.342 21.742)" fill="#9f9f9f"/>
              <rect id="Rectangle_377" data-name="Rectangle 377" width="3.787" height="4.781" transform="translate(4.447 16.307)" fill="#9f9f9f"/>
              <rect id="Rectangle_378" data-name="Rectangle 378" width="3.787" height="4.781" transform="translate(4.447 10.871)" fill="#9f9f9f"/>
              <rect id="Rectangle_379" data-name="Rectangle 379" width="3.787" height="4.781" transform="translate(4.447 5.435)" fill="#9f9f9f"/>
              <rect id="Rectangle_380" data-name="Rectangle 380" width="3.787" height="4.781" transform="translate(8.895 10.871)" fill="#9f9f9f"/>
              <rect id="Rectangle_381" data-name="Rectangle 381" width="3.787" height="4.781" transform="translate(8.895 5.435)" fill="#9f9f9f"/>
              <rect id="Rectangle_382" data-name="Rectangle 382" width="3.787" height="4.781" transform="translate(4.447)" fill="#9f9f9f"/>
              <rect id="Rectangle_383" data-name="Rectangle 383" width="3.787" height="4.781" transform="translate(8.895)" fill="#9f9f9f"/>
              <rect id="Rectangle_384" data-name="Rectangle 384" width="3.787" height="4.781" transform="translate(13.342)" fill="#9f9f9f"/>
              <rect id="Rectangle_385" data-name="Rectangle 385" width="3.787" height="4.781" fill="#9f9f9f"/>
              <rect id="Rectangle_386" data-name="Rectangle 386" width="3.787" height="4.781" transform="translate(8.895 16.307)" fill="#9f9f9f"/>
            </svg>


          a(href="#" rel="map").item
            <svg id="icon-view-switch-map" xmlns="http://www.w3.org/2000/svg" width="16.483" height="26.332" viewBox="0 0 16.483 26.332">
              <path id="Path_256" data-name="Path 256" d="M983.091,118.538a8.319,8.319,0,0,0-8.244,8.358,10.067,10.067,0,0,0,1.239,4.835l7.13,13.139,6.949-13.4a9.542,9.542,0,0,0,1.166-4.573A8.315,8.315,0,0,0,983.091,118.538Zm0,13.862a5.556,5.556,0,1,1,5.556-5.556A5.556,5.556,0,0,1,983.089,132.4Z" transform="translate(-974.847 -118.538)" fill="#a0a0a0"/>
              <circle id="Ellipse_82" data-name="Ellipse 82" cx="4.811" cy="4.811" r="4.811" transform="translate(1.437 8.306) rotate(-45)" fill="#a0a0a0"/>
            </svg>

          a(href="#" rel="timeline").item
            <svg id="icon-view-switch-timeline" xmlns="http://www.w3.org/2000/svg" width="17.424" height="26.164" viewBox="0 0 17.424 26.164">
              <path id="Path_247" data-name="Path 247" d="M938.838,872.136a8.477,8.477,0,1,0,8.477,8.477A8.477,8.477,0,0,0,938.838,872.136Zm-.306,8.784v-7.5h.613v6.884h5.729v.613Z" transform="translate(-929.901 -872.136)" fill="#9f9f9f"/>
              <path id="Path_248" data-name="Path 248" d="M943.865,1021.435h-13.9l-2.6-1.941,2.6-1.941h13.9Z" transform="translate(-927.361 -995.271)" fill="#9f9f9f"/>
              <path id="Path_249" data-name="Path 249" d="M933.361,987.043h13.9l2.6,1.941-2.6,1.941h-13.9Z" transform="translate(-932.441 -969.436)" fill="#9f9f9f"/>
            </svg>

