//- Include pug mixins and components (order matters)
include ../components/filter.pug
include ../components/object-detail.pug
include ../components/object-card.pug


doctype html
html(lang="cs")
  head
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1")

    block title
      title MDH Mapa

    block favicon
      link(rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32")
      link(rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16")
      link(rel="apple-touch-icon" href="/assets/img/apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-touch-icon-152x152.png")

      <!-- SEO -->
      <meta name="description" content=" "/>
      <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
      <link rel="canonical" href="" />
      <link rel="next" href="" />
      <meta property="og:locale" content="cs_CZ" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="" />
      <meta property="og:description" content="" />
      <meta property="og:url" content="" />
      <meta property="og:site_name" content="" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:description" content="" />
      <meta name="twitter:title" content="" />
      <meta name="twitter:site" content="" />
      <meta name="msvalidate.01" content="" />
      <meta name="google-site-verification" content="" />
      <!-- / SEO -->

    - let bodyClass = 'index';

    block vars


    block css
      <!-- inject:css -->
      link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="")
      link(rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/")
      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css")

      link(rel="stylesheet" href="/assets/css/main.css?" + Math.floor(Date.now() / 1000))
      <!-- endinject -->

    block js

      <!-- Global site tag (gtag.js) - Google Analytics -->
      script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="")
      script(src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js")
      script(async src="https://www.googletagmanager.com/gtag/js?id=")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '');


    block header

    body(class=bodyClass)

      block svg
        <!-- inject:svg --><!-- endinject -->

      block head
        include ./header.pug

      block main

      block foot
        include ./footer.pug

      block javascript
        script.

        script(src="/assets/js/app.build.js?" + Math.floor(Date.now() / 1000))

