mixin object-card(object, map)

  - const images = object.images

  article.card.card-thumb(data-object-id=`${object.properties.name}` data-object-name=`${object.properties.name}` data-component="card" data-object-layer=`${object.properties.layer}` data-object-type=`${object.properties.type}` )

    .layer-bar(style=`background-color: ${map.mapSettings.layers[object.properties.layer].color}`)
      .meta.meta-category #{object.properties.layer}

    .card-content-container
      .gallery
        .gallery-image
          if (object.images.length > 0)
            img(src=`/assets/data-maps/${map.safeSlug}/images/${object.properties.slug}/${object.images[0].thumbnail}`)
          else
            img(src=`/assets/images/object-default-image.png`)

      .card-content
        .title-bar
          .card-title #{object.properties.name}
          .icons
            <svg class="icon icon-action" xmlns="http://www.w3.org/2000/svg" width="12.871" height="19.793" viewBox="0 0 12.871 19.793">
              <g transform="translate(-132.331 -89.309)" fill="none">
                <path d="M138.766,102.888l.172.166L145.2,109.1V89.309H132.331V109.1l6.263-6.047Z" stroke="black"/>
              </g>
            </svg>
        .footer-bar
          .meta.meta-address GPS: #{object.properties.y}, #{object.properties.x}
          .icons

            if (object.properties.type)
              img(src=`/assets/images/icons/icon-object-${object.properties.type}.svg`)
